@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.header {
    display: flex;
    padding: 5px;
}

.left-links,
.right-links {
    display: flex;
    gap: 15px;
}

.right-links {
    margin-left: auto;
    margin-right: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    margin-top: auto;
    background-color: lightgray;
    padding: 5px;
}

.input,
.buttons {
    margin: 20px;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 10px 20px 10px 20px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    color: slategray;
}
