/* Add CSS Styling */

.odd-number {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightcoral;
}

.odd-number.small {
    font-size: 24px;
}

#second-el {
    font-size: 36px;
    color: rgb(26, 43, 255);
}

#fourth-el {
    font-size: 24px;
    font-family: bold;
    background-color: #0dcb00;
}
