* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #393f4d;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo {
    justify-self: start;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu {
    align-content: center;
}

.menu ul,
.menu li {
    font-size: 16px;
    list-style: none;
}

.sidebar {
    background-color: #c50208;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
}

.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.nav {
    background-color: #c50208;
}

.nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
}

.article {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.article .card {
    background-color: #ffffff;
    color: black;
    text-align: center;
    height: 200px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.footer {
    background-color: #393f4d;
}

.footer p {
    font-size: 13px;
    font-weight: normal;
}
