body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    background-color: #006157;
    grid-column: 1 / 3;
    grid-area: 1 / 1 / 2 / 8;
}

.sidebar {
    background-color: #005b94;
    grid-row: 2 / 4;
    grid-area: 2 / 1 / 7 / 3;
}

.nav {
    background-color: #642cde;
    grid-area: 2 / 3 / 3 / 8;
}

.article {
    background-color: #7e1dc3;
    grid-area: 3 / 3 / 7 / 8;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.footer {
    background-color: #393f4d;
    grid-column: 1 / 3;
    grid-area: 7 / 1 / 8 / 8;
}
