body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 5px;
}

.title {
    background-color: #e3f4ff;
    font-size: 18px;
    padding: 5px;
}

.content {
    background: #e3f4ff;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.button-container {
    background: #e3f4ff;
    display: block;
    padding: 5px;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: auto;
}
